/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eee;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Divider style
--------------------------------------------------*/
.divider:after{
  background: url("../img/divider.png") no-repeat bottom center;
  padding-bottom: 12px;
  display: block;
  height: 22px;
  content: ",";
  text-indent: -9999px;
  width: 630px;
  max-width: 90%;
  text-align: center;
  margin: auto auto 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divider{
  padding-top: 5%;
}
/*Home style
---------------------------------------------------*/
.img{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-left: 25%;
}

.about-images img{
  max-width: 250px;
  max-height: 250px;
}

.about-images div:first-child img{
  float: right;
}
.nav.nav-pills{
  width: 24%;
  margin:0 auto;
}

.msg{
  padding-left: 5%;
  border-left: solid 1px #777;
}

.avatar{
  max-height: 50px;
  max-width: 250px;
  padding-left: 5px;
}

.avatar:hover{
  background-color: #555;
  color: #fff;
}

.avatar:hover a{
  color: #fff !important;
}

.online-usr{
  width: 20%;
}

li.dropdown:hover{
  background-color: #555;
}

li.dropdown .divider{
  padding: 0;
}
.avatar img{
  max-height: 40px;
  max-width: 40px;
}

.avatar a {
  display: inline-block !important;
}

.navbar-nav>li>.dropdown-menu {
  max-width: 200px;
}

.panel-title{
  text-align: center;
}

.socials{
  padding: 0 30%;
}

.socials img:first-child{
  height: 30px;
  width: 30px;
}

.socials img:last-child{
  height: 30px;
  width: 40px;
}

.socials img{
  margin: 5px;
}

.side-bar h2{
  margin: 0;
}

.side-bar img{
  max-width: 200%;
  width: 125%;
}

.btn-group-vertical{
  width: 100%;
}

.page-header{
  margin: 0;
  padding: 2%;
  background-color: #FCF8EF;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom-width: 4px;
  border-bottom-color: #976318;
}

.form:not(.active){
  display: none;
}