/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #eee;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Divider style
--------------------------------------------------*/
.divider:after{
  background: url("../img/divider.png") no-repeat bottom center;
  padding-bottom: 12px;
  display: block;
  height: 22px;
  content: ",";
  text-indent: -9999px;
  width: 630px;
  max-width: 90%;
  text-align: center;
  margin: auto auto 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divider{
  padding-top: 5%;
}
/*Home style
---------------------------------------------------*/
.img{
  width: 150px;
  height: 150px;
  opacity: 0.7;
  margin-left: 25%;
}

.about-images img{
  max-width: 250px;
  max-height: 250px;
}

.about-images div:first-child img{
  float: right;
}
.nav.nav-pills{
  width: 24%;
  margin:0 auto;
}

.msg{
  padding-left: 5%;
  border-left: solid 1px #777;
}

.avatar{
  max-height: 50px;
  max-width: 250px;
  padding-left: 5px;
}

.avatar:hover{
  background-color: #555;
  color: #fff;
}

.avatar:hover a{
  color: #fff !important;
}

.online-usr{
  width: 20%;
}

li.dropdown:hover{
  background-color: #555;
}

li.dropdown .divider{
  padding: 0;
}
.avatar img{
  max-height: 40px;
  max-width: 40px;
}

.avatar a {
  display: inline-block !important;
}

.navbar-nav>li>.dropdown-menu {
  max-width: 200px;
}

.panel-title{
  text-align: center;
}

.socials{
  padding: 0 30%;
}

.socials img:first-child{
  height: 30px;
  width: 30px;
}

.socials img:last-child{
  height: 30px;
  width: 40px;
}

.socials img{
  margin: 5px;
}

.side-bar h2{
  margin: 0;
}

.side-bar img{
  max-width: 200%;
  width: 125%;
}

.btn-group-vertical{
  width: 100%;
}

.page-header{
  margin: 0;
  padding: 2%;
  background-color: #FCF8EF;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-bottom-width: 4px;
  border-bottom-color: #976318;
}

.form:not(.active){
  display: none;
}

.btn-panel{
  height: 100px;
  width: 100%;
  margin: 0 auto;
  border-right: solid 1px #999;
}

.btn-panel .btn{
  margin: 10% 6%;
}

.tags span{
  margin-right: 2%; 
}

.tags span .rm-tag{
  margin: 1%;
  cursor: pointer;
  color: #bbb;
  font-size: 1.2em;
  
  position: relative;
  top: 1px;
}

.tags span .rm-tag:hover{
  text-decoration: none;
  color: #eee;
  background-color: #d9534f;
  border-radius: 200px;
}

.nav-tabs{
  border-color: transparent;
}

.nav-tabs li.active > a, .nav-tabs li.active > a:hover{
  color: #fff;
  border-radius: 4px;
  cursor: default;
  background-color: #337ab7;
  border: transparent;
}

.nav-tabs li a:hover{
  border-color: transparent;
  background-color: #ddd;
  border-radius: 4px;
  color: #2a6496;
}

.tab-pane{
  padding: 2%;
}

.nav-tabs li.link a:hover{
  border-color: transparent;
  background-color: #5cb85c;
  border-radius: 4px;
  color: #fff;
}

.feed{
  padding: 1% 2%;
  border-bottom: solid 1px #bbb;
}

.feed:not(:first-child){
  margin-top: 2%;
}


.media-body, .media-left{
  display: table-cell;
  vertical-align: top;
}

a.media-left{
  max-width: 100px;
}

.feed .media-body p{
  vertical-align: bottom;
  margin: 0;
  margin-top: 5%;
  color: #888;
}

blockquote {
  padding: 10px 20px;
  margin: 2% 10%;
  font-size: 17.5px;
  border-left: 5px solid #ddd;
}

.feed-header img{
  width: 80%;
}

.project-panel h1{
  margin: 0;
}

.feeds.social .media-heading a{
  display: none;
}

.feeds.normal .media-heading a{
  display: inline;
}

.form-inline .form-group{
  width: 100%;
  margin-bottom: 2%;
}

.panel #PropuestaTipoIdeaId {
  width: 45.5%;
}

/*
 *  Intento con bootstrap
 */

#canvas{
  padding: 0;
}

#canvas .row{
  margin: 0;
}

#canvas .col-md-2, #canvas .col-sm-2, 
#canvas .col-md-3, #canvas .col-sm-3,
#canvas .col-md-6, #canvas .col-sm-6{
  padding: 0;
} 

#canvas .canvas-single.lg textarea{
  height: 200px;
}
.canvas{
  width: 110%;
}
.canvas .canvas-single, .canvas .double-canvas{
  margin-left: -4px;
  max-width: 20%;
  display: inline-block;
}

.double-canvas .canvas-single{
  max-width: 100%;
}

.double-canvas + .canvas-single{
  margin-left: -9px;
}
.canvas-single .form-group{
  margin-bottom: 0;
}

.canvas-single.bottom-right, .canvas-single.bottom-left{
  max-width: 49.45%;
} 

.canvas-single.bottom-right .form-group .tags{
  border-bottom-right-radius: 4px;
}

.canvas-single.bottom-left .form-group .tags{
  border-bottom-left-radius: 4px;
}

.canvas .canvas-single .form-control, .canvas .canvas-single a.btn,
#canvas .canvas-single .form-control, #canvas .canvas-single a.btn
{
  border-radius: 0;
  margin-left: 0;
}

.canvas-single textarea{
  border-top: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}

.canvas-single textarea:focus, .canvas-single input:focus{
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.canvas-single label{
  padding-left: 5px;
  padding-top: 5px;
  width: 100%;
  margin-bottom: 0;
  background-color: #fff;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc; 
}

.canvas-single.top-left label{
  border-top-left-radius: 4px;
}

.canvas-single.top-right label{
  border-top-right-radius: 4px;
}

.canvas-single.large textarea{
  height: 200px;
  position: relative;
  top: -147px;
  z-index: -1;
}

.canvas-single.large label{
  position: relative;
  top: -147px;
  z-index: -2;
}

.canvas-single.large .form-group:first-child{
  height: 79px;
}

.jumbotron{
  background-color: #ddd;
}

.form.active .col-md-5 .form-group{
  margin-right: 0;
  margin-left: 0;
}

.panel-add{
  min-height: 140px;
  color: #3c763d;  
}

.mercado{
  -webkit-transition: all 1s; /* Safari */
  -moz-transition: all 1s;
  transition: all 1s;
}

.mercado .form-group{
  margin: 0;
}
.panel-add .panel-body{
  text-align: center;
  vertical-align: middle;
  min-height: inherit;
}

.panel-add .panel-body:hover{
  background: #ddd;  
  box-shadow: 0px 1px 5px #2E9E30;
  -webkit-box-shadow: 0px 1px 5px #2E9E30;
}

.panel-add .panel-body:active{
  background: #3c763d;  
  color: #fff;  
  box-shadow: 0px 0px 0px #2E9E30;
  -webkit-box-shadow: 0px 0px 0px #2E9E30;
}

.panel-add .glyphicon{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}